<h1>Books for Sale</h1>
<div class="listing media" *ngFor="let doc of myArray" id = "listing-preview">
    <div class="photo">
        <img class="center d-flex mr-3" id="images" [src]="getPhoto(doc.uid, doc.listingPhotos)" alt="listing image"/> 
    </div>
    <div class="content media-body">
        <!-- Book Elements in Preview-->
        <p><strong>UID: </strong>{{doc.uid}}</p> 
        <p><strong>Book Title: </strong>{{doc.title}}</p> 
        <p><strong>Edition: </strong>{{doc.edition}}<strong> Course Number: </strong>{{doc.courseNum}}</p> 
        <p></p> 

        <p><strong>Description: </strong>{{doc.description}}</p> 

        <p><strong>Item Status: </strong>{{doc.itemStatus}}</p>
        <p><strong>Exchange Location: </strong>{{doc.exchangeLoc}}<strong> Payment Option:</strong> {{doc.paymentOpt}}</p>
        <p></p>
        <div class="price">
            <p><strong>Price:</strong> ${{doc.price}}</p>
            <button class="button" mdbBtn type="button" mdbWavesEffect>Add To Cart</button>
        </div>
    </div>        
</div>