/* TO DO: figure out why css file is not working with HTML of component */

select{
  border: 1px solid #aaa;
}

  /* TO DO: figure out why css file is not working with HTML of component */
.specific-elements{
  display: none;
}

.book{color: black;}
.clothing{color: black;}
.furniture{color: black;}
.electronics{color: black;}
.sportsgear{color: black;}

form {
margin: 0 auto;
display: inline-block;
width: 800px;
text-align: left;
}

body {
text-align: center;
font-size: 12px;
margin: 0 auto;
font-weight: normal;
}

button[type=submit] {
  background-color: darkred;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: red;
}

textarea {
  width: 300px;
  padding: 12px;
  margin: 3px 0;
  border: 1px solid #aaa;
}

input[type=text] {
  width: 300px;
  padding: 5px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 1px solid #aaa;
}

input[formControlName="price"] {
  width: 100px;
  padding: 5px 5px 5px 15px;
  margin: 3px 8px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

input[formControlName="length"] {
  width: 70px;
  padding: 5px 5px 5px 15px;
  margin: 3px 0px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

input[formControlName="width"] {
  width: 70px;
  padding: 5px 5px 5px 15px;
  margin: 3px 0px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

input[formControlName="height"] {
  width: 70px;
  padding: 5px 5px 5px 15px;
  margin: 3px 0px;
  border:1px solid #aaa;
  box-sizing: border-box;
}

input[formControlName="weight"] {
  width: 70px;
  padding: 5px 5px 5px 15px;
  margin: 3px 0px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

img{
  max-width:180px;
}

input[type=file]{
  padding:10px;
  width: 300px;
  background:darkred;
  border-radius: 4px;
  color: white;
}

p{
  display: block;
  margin: 3px;
}

#listing-preview{ 
  position: absolute;
  margin: 10px 350px;
  width:400px;
  text-align: left;
  display: inline-block;
  border:1px solid #aaa;
}

img {
  width: 100%;
  width: 180px;
  height: 180px;
  margin: 3px;
  object-fit: cover;
  float: left;
}