
    <body>
    <h2>Add New Listing</h2>
      <div id = "listing-preview">
        <img id="images" src="http://placehold.it/180" alt="listing image" required/> 

        <!-- Book Elements in Preview-->
        <p *ngIf="listingForm.value.bookElements.bookTitle"><strong>Book Title: </strong>{{this.listingForm.value.bookElements.bookTitle}}</p> 
        <p *ngIf="listingForm.value.bookElements.edition"><strong>Edition: </strong>{{this.listingForm.value.bookElements.edition}}</p> 
        <p *ngIf="listingForm.value.bookElements.courseNum"><strong>Course Number: </strong>{{this.listingForm.value.bookElements.courseNum}}</p> 

        <!-- Clothing Elements in Preview-->
        <p *ngIf="listingForm.value.clothingElements.type"><strong>Type: </strong>{{this.listingForm.value.clothingElements.type}}</p> 
        <p *ngIf="listingForm.value.clothingElements.color"><strong>Color: </strong>{{this.listingForm.value.clothingElements.color}}</p> 
        <p *ngIf="listingForm.value.clothingElements.size"><strong>Size:</strong> {{this.listingForm.value.clothingElements.size}}</p> 

        <!-- Furniture Elements in Preview-->
        <p *ngIf="listingForm.value.furnitureElements.type"><strong>Type: </strong>{{this.listingForm.value.furnitureElements.type}}</p> 
        <p *ngIf="listingForm.value.furnitureElements.color"><strong>Color: </strong>{{this.listingForm.value.furnitureElements.color}}</p> 
        <p *ngIf="listingForm.value.furnitureElements.length"><strong>Length:</strong> {{this.listingForm.value.furnitureElements.length}} in.</p> 
        <p *ngIf="listingForm.value.furnitureElements.width"><strong>Width: </strong>{{this.listingForm.value.furnitureElements.width}} in.</p> 
        <p *ngIf="listingForm.value.furnitureElements.Height"><strong>Height: </strong>{{this.listingForm.value.furnitureElements.height}} in.</p> 
        <p *ngIf="listingForm.value.furnitureElements.weight"><strong>Weight: </strong>{{this.listingForm.value.furnitureElements.weight}} lb.</p> 

        <!-- Electronics Elements in Preview-->
        <p *ngIf="listingForm.value.electronicsElements.type"><strong>Type: </strong>{{this.listingForm.value.electronicsElements.type}}</p> 
        <p *ngIf="listingForm.value.electronicsElements.model"><strong>Model:</strong> {{this.listingForm.value.electronicsElements.model}}</p> 
        <p *ngIf="listingForm.value.electronicsElements.length"><strong>Length: </strong>{{this.listingForm.value.electronicsElements.length}} in.</p> 
        <p *ngIf="listingForm.value.electronicsElements.width"><strong>Width: </strong>{{this.listingForm.value.electronicsElements.width}} in.</p> 
        <p *ngIf="listingForm.value.electronicsElements.Height"><strong>Height: </strong>{{this.listingForm.value.electronicsElements.height}} in.</p> 
        <p *ngIf="listingForm.value.electronicsElements.weight"><strong>Weight: </strong>{{this.listingForm.value.electronicsElements.weight}} lb.</p> 

        <!-- Sportsgear Elements in Preview-->
        <p *ngIf="listingForm.value.sportsGearElements.type"><strong>Type: </strong>{{this.listingForm.value.sportsGearElements.type}}</p> 
        <p *ngIf="listingForm.value.sportsGearElements.weight"><strong>Weight: </strong>{{this.listingForm.value.sportsGearElements.weight}} lb.</p> 

        <p><strong>Description: </strong>{{this.listingForm.value.description}}</p>
        <p><strong>Price:</strong> ${{this.listingForm.value.price}}</p> 
        
        <p><strong>Item Status: </strong>{{this.listingForm.value.itemStatus}}</p>
        <p><strong>Exchange Location: </strong>{{this.listingForm.value.exchangeLoc}}</p>
        <p><strong>Payment Option:</strong> {{this.listingForm.value.paymentOpt}}</p>
    </div>

    <form [formGroup] = "listingForm" (ngSubmit)="onSubmit()">
        <label for="category">Select a Listing Category</label> <br>
            <select id="category" formControlName="category">
                <option value="" disabled selected hidden>Item Category</option>
                <option value="book">Book</option>
                <option value="clothing">Clothing</option>
                <option value="furniture">Furniture</option>
                <option value="electronics">Electronics</option>
                <option value="sportsgear">Sportsgear</option>
            </select>

        <div class="book specific-elements" formGroupName="bookElements" style="display: none;">
            <input type="text" placeholder="Book Title" formControlName="bookTitle" required>
            <br>
            <input type="text" placeholder="Edition" formControlName="edition" required>
            <br>
            <input type="text" placeholder="Course Number" formControlName="courseNum" required>
        </div>
        
 

        <div class="clothing specific-elements" formGroupName="clothingElements" style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Color" formControlName="color" required>
            <br>
            <input type="text" placeholder="Size" formControlName="size" required>
        </div>

    
        <div class="furniture specific-elements" formGroupName="furnitureElements" style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Color" formControlName="color" required>
            <br>
            <label>Dimensions: </label><br>
                <input type="text" placeholder="Length" formControlName="length"> in.
                <input type="text" placeholder="Width" formControlName="width"> in.
                <input type="text" placeholder="Height" formControlName="height"> in.
            <br>
            <input type="text" placeholder="Weight" formControlName="weight" required> lb.
        </div>


        <div class="electronics specific-elements" formGroupName="electronicsElements" style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Model" formControlName="model" required>
            <br>
            <label>Dimensions: </label><br>
                <input type="text" placeholder="Length" formControlName="length"> in.
                <input type="text" placeholder="Width" formControlName="width"> in. 
                <input type="text" placeholder="Height" formControlName="height"> in.
            
            <br>
            <input type="text" placeholder="Weight" formControlName="weight" required> lb.
        </div>


        <div class="sportsgear specific-elements" formGroupName="sportsGearElements"  style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Weight" formControlName="weight" required> lb.
        </div>
    <br>
        <label>
            <textarea rows="5" cols="33" placeholder="Description" formControlName="description" required>
            </textarea>
        </label>    
    <br>
        <label>
            $ <input type="text" placeholder="Price" formControlName="price" required>
        </label>
    <br>
        <label>
            Item Status: 
            <select placeholder="Item Status" formControlName="itemStatus" required>
                <option>For Sale</option>
                <option>Sold</option>
            </select>
        </label>
    <br>
        <label>
            <input type="text" placeholder="Exchange Location" formControlName="exchangeLoc" required>
        </label>
    <br>
        <label>
            <input type="text" placeholder="Payment Option" formControlName="paymentOpt" required>
        </label>
    <br>
    <label for="listingphotos">Upload photo of item:</label> <br>
        <input type="file" id="imgInp" onchange="document.getElementById('images').src = window.URL.createObjectURL(this.files[0])" formGroupaName="listingForm" formControlName="listingPhotos">
  
    <br>
        <button type="submit" [disabled]="!listingForm.valid">Post Listing</button>
    </form>

    
</body>