
    <h2>Add New Listing</h2>
    <form [formGroup] = "listingForm" (ngSubmit)="onSubmit()">

            <select id="category" formControlName="category">
                <option value="" disabled selected hidden>Item Category</option>
                <option value="book">Book</option>
                <option value="clothing">Clothing</option>
                <option value="furniture">Furniture</option>
                <option value="electronics">Electronics</option>
                <option value="sportsgear">Sportsgear</option>
            </select>

        <div class="book specific-elements" formGroupName="bookElements" style="display: none;">
            <input type="text" placeholder="Book Title" formControlName="bookTitle" required>
            <br>
            <input type="text" placeholder="Edition" formControlName="edition" required>
            <br>
            <input type="text" placeholder="Course Number" formControlName="courseNum" required>
        </div>
        
 

        <div class="clothing specific-elements" formGroupName="clothingElements" style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Color" formControlName="color" required>
            <br>
            <input type="text" placeholder="Size" formControlName="size" required>
        </div>

    
        <div class="furniture specific-elements" formGroupName="furnitureElements" style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Color" formControlName="color" required>
            <br>
            <label>Dimensions: </label><br>
                <input type="text" placeholder="Length" formControlName="length">
                <input type="text" placeholder="Width" formControlName="width">
                <input type="text" placeholder="Height" formControlName="height">
            <br>
            <input type="text" placeholder="Weight" formControlName="weight" required>
        </div>


        <div class="electronics specific-elements" formGroupName="electronicsElements" style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Model" formControlName="model" required>
            <br>
            <label>Dimensions: </label><br>
                <input type="text" placeholder="Length" formControlName="length">
                <input type="text" placeholder="Width" formControlName="width">
                <input type="text" placeholder="Height" formControlName="height">
            
            <br>
            <input type="text" placeholder="Weight" formControlName="weight" required>
        </div>


        <div class="sportsgear specific-elements" formGroupName="sportsGearElements"  style="display: none;">
            <input type="text" placeholder="Type" formControlName="type" required>
            <br>
            <input type="text" placeholder="Weight" formControlName="weight" required>
        </div>
    <br>
        <label>
            <textarea rows="5" cols="33" placeholder="Description" formControlName="description" required>
            </textarea>
        </label>    
    <br>
        <label>
            <input type="text" placeholder="Price ($)" formControlName="price" required>
        </label>
    <br>
        <label>
            Item Status: 
            <select placeholder="Item Status" formControlName="itemStatus" required>
                <option>For Sale</option>
                <option>Sold</option>
            </select>
        </label>
    <br>
        <label>
            <input type="text" placeholder="Exchange Location" formControlName="title" required>
        </label>
    <br>
        <label>
            <input type="text" placeholder="Payment Option" formControlName="paymentOpt" required>
        </label>
    <br>
        <button type="submit" [disabled]="!listingForm.valid">Submit</button>
    </form>
