.listing {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px #bbb;
    border-radius: 4px;
    width: 1000px;
    height: auto;
}

.content {
    float: left;
    margin-left: 10px;
}
.photo {
    width: 200px;
    height: 200px;
    float: left;
}

img {
    width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
  }

h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    display: inline;

}

h3{
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
}


h4{
    display: inline;
    font-size: large;
    float: right;
}
p{
    display: inline-block;
}

.button {
    background-color: #b71c1c;
    color: white;
    font-size: medium;
    display: inline;
    margin-top: -10px;
    float: right;
}

.placeOrder {
    margin-right: 270px;

}

.yesItems p{
font-size: 20px;
margin-left: 270px;
}

.noItems {
    margin: auto;
    text-align: center;
}

.yesItems {
    padding: 50px 0;
    margin: 0 auto;
    display: none;
    background-color: #f7f7f7;
}

